li {
	display: inline;
	padding-left: 15px;
}

.main-form {
	margin-top: 200px;
}

.logo {
	display: flex;
	justify-content: center;
}

.search-box {
	display: flex;
	justify-content: center;
}

#search-box {
	width: 585px;
	height: 30px;
	margin-top: 36px;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin: 40px;
}

.nav-left {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 10px;
	margin-top: 10px;
}

.nav-right {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 10px;
	margin-top: 10px;
	font-family: arial, sans-serif;
}

.right-button {
	margin-left: 15px;
}

.footer-left {
	position: absolute;
	left: 5px;
	padding: 10px;
	bottom: 5px;
}

.footer-right {
	position: absolute;
	right: 12px;
	padding: 10px;
	bottom: 5px;
}